.notes-page {
  height: 100vh;
  background-color: #d0f4f0;
  /* background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #fff,
    #fff 1px,
    #d0f4f0 1px,
    #d0f4f0
  ); */
}

.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.button-section button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  box-shadow: 4px 4px 0px rgba(3, 3, 3, 0.4);

  border-radius: 50%;
  font-size: 30px;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
}
.button-section button:hover {
  scale: 1.1;
}

.notes-container {
  min-height: 100vh;
  background-color: white;
  border: 3px solid black;
  padding: 3rem 2rem;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.filters {
  display: flex;
  gap: 1rem;
}
.filters button {
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid black;
  font-size: 18px;
  box-shadow: 4px 4px 0px rgba(3, 3, 3, 0.4);
  transition: 0.2s ease-in-out;
}

.notes-container .filters button:hover {
  scale: 1.1;
}

.notes-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
}

@media (max-width: 1400px) {
  .notes-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .notes-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .notes-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .notes-list-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
